@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
}

.rail{
  @apply w-full;
  @apply h-full;
  @apply inline-flex;
  @apply overflow-x-auto;
  @apply overflow-y-hidden;
  @apply scrollbar-hide;    
}

.card{
  position: relative;
  display: block;
  /* transition: transform 400ms; */
}

/* .rail:focus-within .card,
.rail:hover .card {
  transform: translateX(-25%);
}

.card:focus ~ .card,
.card:hover ~ .card {
  transform: translateX(25%);
} */

/* .rail .card:focus,
.rail .card:hover {
  transform: scale(1.1);
  z-index: 1;
} */